 /* RESETS */

 *{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

/* VARIABLES */

:root{

    /* COLORS */
    --gradientColor1: papayawhip;
    --gradientColor2: rgb(43, 120, 150);
    --textColor: white;
    --menuBackgroundColor:white;
    --navTextColor:white;
    --navBackgroundColor:rgba(255, 255, 255, 0);
    --buttonTextColor:black;
    --buttonBackgroundColor:rgb(246, 205, 140);
    --buttonBorderColor:black;
    --buttonArrowColor:black;
    --section2BorderColor:white;
    --inputColor: rgb(90, 90, 90);
    --workerPersonalEmailBackgroundColor:rgba(177, 177, 177, 0.378);
    --workerPersonalEmailBorderColor:black;
    --submitButtomBorderColor:whitesmoke;
    --footerBackgroundColor:rgba(43, 120, 150, 0.284);
    --emailIconBackgroundColor:rgba(158, 158, 158, 0.336);
    --emailIconBorderColor:whitesmoke;

}




html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(330deg, var(--gradientColor1), var(--gradientColor2) );
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}


/* HEADER SECTION */

.header {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
  }

  /* NAV LIST */

  :any-link{
    text-decoration: none;
  }
  
  .header ul {
    list-style: none;
    overflow: hidden;
    background-color: var(--navBackgroundColor);
  }
  
  .header li a {
    display: block;
    padding: 20px;
    margin-inline: 0 2rem;
    color: var(--gradientColor2) ;
  }
  
    /* HEADER LOGO */
  
  .header .logo {
    display: flex;
    float: left;
    font-size: 2rem;
    padding: 10px 20px;
  }
  .logo a{
    padding-left: 1rem;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-right: 1.5rem;
  }
  

  .header .menu-icon .navicon {
    background: var(--textColor);
    display: block;
    height: 2.5px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
  }
  

  /* MENU POP DOWN TRANSITION */

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: var(--textColor);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* UNLDERLINE ANIMATION */

  .underline-animation{
    position: relative;
    color: var(--navTextColor);
    text-decoration: none;

    }

.underline-animation::after{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--menuBackgroundColor);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.underline-animation:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* FIRST SECTION */

.all{
    display: flex;
    margin-top: 8rem;
}


/* FIRST SECTION TEXT AND BUTTON*/

.half{
    width: 70%;
}

.main__h1{
    font-size: 4rem;
    margin-top: 6rem;
    margin-left: 4rem;
    font-weight: 100;
} 
.main__h2{
    font-size:1rem;
    margin-top: 2rem;
    margin-left: 4rem;
    font-weight: 100;
} 

.main__div3 a{
    display:inline-flex;
    margin-top: 9rem;
    margin-left: 4rem;
    border: 2px solid var(--buttonBorderColor);
    padding: 1rem 4rem;
    border-radius: 4rem;
    background-color: var(--buttonBackgroundColor);
    

}
.main__div3 .text{
    margin-top: 0.7rem;
    color: var(--buttonTextColor);
}
.main__div3 .arrow{
    color: var(--buttonArrowColor);
    font-size: xx-large;
}


/* FIRST SECTION IMAGE */

.other_half img{
    margin-top: 7rem;
    margin-right: 4rem;
}


/* SECOND SECTION */

.grid{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;

    
}
.grid__choice{
    text-align: center;
    margin-top: 3rem;
    border-left: 2px solid var(--section2BorderColor);
}
.grid__choice:first-child{
    border-left: none;
}

.head{
    margin-top: 1.5rem;
    font-size: 2rem;
}
.grid__text{
    margin-top: 1rem;
    margin-inline: 3rem;
}


/* THIRD SECTION */

.benefits{
    scroll-margin-top: 2rem;
    margin-top:5rem ;
    margin-inline: 5rem ;
}

.free_sample{
    scroll-margin-top: 2rem;
    margin-top:5rem ;
    margin-inline: 5rem ;
}

.benefits h2, .free_sample h2{
    font-size: 2.5rem;
}
.benefits ul, .free_sample ul{
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-left: 1.5rem;

}
.free_sample ul{
    margin-top: 1rem;
}

.free_sample p{
    margin-top: 2rem;
    font-size: 1.3rem;
}


/* FOURTH SECTION */

.container{
    scroll-margin-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    margin-inline: 3rem;
}
.container p{
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.container .gray{
    color: rgba(255, 255, 255, 0.652);
}
.container h2{
    margin-top: 0.5rem;
    font-size: 3rem;
}
.personal_pic img{
    margin-top: 2rem;
    margin-left: 5rem;
    border-radius: 20%;
}
.right{
    margin-top: 1rem;
    margin-left: 3rem;
}
.personal_pic2 img{
    margin-top: 3rem;
    border-radius: 20%;
}

.personal_pic3 img{
    margin-top: 4rem;
    border-radius: 20%;
    margin-left: 5rem;
}
.personal_email{
    border: 1px solid var(--workerPersonalEmailBorderColor);
    padding: 1rem 2rem;
    display: inline;
    margin: 1rem;
    border-radius: 5rem;
    background-color: var(--workerPersonalEmailBackgroundColor);
} 


/* FIFTH SECTION */

.contact{
    scroll-margin-top: 2rem;
    margin-top:6rem ;
    text-align: center;
    margin-inline: 5rem;
}

.contact p{
    font-size: 1.3rem;
    margin: 1rem;
}
.contact p span{
    display: inline-flex;
    flex-wrap: nowrap;
}
.contact h2{
    font-size: 2rem;
}

form{
    font-size: 3rem;
}

input{
    width: 30rem;
    height: 3rem;
    padding:0.5rem 2rem;
    border-radius: 15rem;
    border: none;
    margin-top: 2rem ;
    color: var(--inputColor);
}
textarea{
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    color: var(--inputColor);
}


button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid var(--submitButtomBorderColor);
    color: var(--inputColor);
    margin-bottom: 2rem;
    cursor: pointer;
}


/* FOOTER SECTION */

footer{
    background-color: var(--footerBackgroundColor);
    text-align: center;
    height: 10rem;
    padding-top: 3.5rem;
}
.icon{
    display: inline;
    background-color: var(--emailIconBackgroundColor);
    padding: 0.5rem;
    border: 1px solid var(--emailIconBorderColor);
    border-radius: 50%;
}
footer p{
    display: block;
    margin: 1rem;
}









/* MEDIA QUARYS */

  /* 48em = 768px */
  
  @media (min-width: 950px) {
    .header li {
      float: left;
      
    }
    .header li a {
      padding: 20px 30px;
      color: whitesmoke;
      
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

    
  }
  

    /* 949PX AND LESS */


    @media screen and (max-width: 949px){
        main .all{
            display:flex;
            flex-direction: column-reverse;
            margin: 0rem;
            
            
        }
        main .all .other_half{
            display: flex;

        }
        .all .other_half img, .half{
            margin-inline: auto;
            
        }
        .half .main__h1{
            font-size: 3rem;
            text-align: center;
            margin-inline: auto;
        }
        .half .main__h2{
            margin-inline: auto;
            text-align: center;
        }
        .half .main__div3{
            place-content: center;
            display: flex;
            justify-content: center;
        }
        .half .main__div3 a{
            margin-inline: auto;
            
        }
        .main__div3 a div.text{
            margin-top: 0.7rem;
        }
        
        main .grid{
            grid-template-columns: none;
            grid-template-rows: 1fr 1fr 1fr;
            
        }
        .grid .grid__choice{
            margin-top: 5rem;
        }
        .container .personal_pic img, .container .personal_pic3 img{
            margin: 0px;
        }
        .container .personal_pic3 img{
            margin-top:5rem;
        }
        .menu li:hover{
            background-color: rgb(223, 223, 223);
        }
        .underline-animation{
            display: none;}
        
        .underline-animation::after{
            display: none;
        }
        .underline-animation:hover::after{
            display: none;
        }
        
    }

    /* 675 AND LESS */



    @media screen and (max-width: 675px){
    .container .personal_pic img, .container .personal_pic2 img, .container .personal_pic3 img{
        width: 250px;
    }
    .container .personal_pic img{
        margin-top: 2rem ;
    }

    #firstName, #email, textarea{
        width: 94.26%;
    }
    }


    /* 625 AND LESS */


    @media screen and (max-width: 625px){

        main .all .half  .main__h1{
            margin-top: 3rem;
            font-size: 2.5rem;
            font-weight: 700;
        }
        main .all .other_half img{
            margin-top: 3rem;
        }
        main .benefits, main .free_sample{
            display: contents;
        
        }
        .benefits h2, .free_sample h2{
            margin-top: 5rem;
            padding: 0px 1rem;
        }
        .benefits ul, .free_sample ul, .free_sample p{
            padding: 0px 1rem;
        }
        
        main .container{
            text-align: center;
            flex-direction: column-reverse;
            margin:0rem;
            
        }


        main .container .left p{
            padding: 0rem 1rem;
            
        }
        main .container .right{
            margin-inline: 0rem;
        }

        main .container .right p{
            padding: 0rem 1rem;
            
        }
        #second{
            flex-direction: column;
        }

        }

    /* 575 AND LESS */



    @media screen and (max-width: 575px){

        main .all .half  .main__h1{
            font-size: 2rem;
            font-weight: 700;
        }

    }


    /* 525 AND LESS */



    @media screen and (max-width: 525px){
        main .all .other_half img{
            margin-top: 3rem;
        }


    }


    /* 475 AND LESS */



    @media screen and (max-width: 475px){
        main .all .other_half img{
            margin-top: 2rem;
        }
        main .all .half  .main__h1{
            margin-top: 3rem;
            font-size: 1.5rem;
            font-weight: 900;
        }

    .contact{
        display:contents;
        width: 100%;
    }
    .contact .gray{
        margin-top: 5rem;
    }

    }
    

    /* 425 AND LESS */

    


    @media screen and (max-width: 425px){

        main .all .half  .main__h1{
            margin-top: 0rem;
        }


}
